@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@model List<MovieModel>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Welcome</h1>
            <p>Welcome to the home of everything movies! Joes "The baconsale" Hilton is world-famous in his movie collection. Checkout his podcast
            and movie collection.</p>
        </div>
        <div class="col-sm">
            <img src="~/img/project pic.jpg" />
        </div>
    </div>

    <div class="row" style="padding: 30px 10px 10px 10px;">
        <table class="table table-striped table-bordered">
            <thead style="font-weight:bold">
                <tr>
                    <td>Title</td>
                    <td>Category</td>
                    <td>Year</td>
                    <td>Director</td>
                    <td>Rating</td>
                    <td>Edited</td>
                    <td>Lent to</td>

                </tr>
            </thead>
            @foreach (var x in Model)
            {
        <tr>
            <td>@x.Title</td>
            <td>@x.Category.Category_name</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            @if (x.Edited == true)
            {
                <td><span>&#10003;</span></td>
            }
            else
            {
                <td></td>
            }
            <td>@x.Lent_to</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>

        </tr>
            }
        </table>
    </div>
</div>
<div>
</div>
